:root, [data-bs-theme=light] {
  --bs-primary: rgb(186,109,53);
  --bs-primary-rgb: 186,109,53;
  --bs-primary-text-emphasis: #4A2C15;
  --bs-primary-bg-subtle: #F1E2D7;
  --bs-primary-border-subtle: #E3C5AE;
  --bs-success: #0d3e28;
  --bs-success-rgb: 13,62,40;
  --bs-success-text-emphasis: #051910;
  --bs-success-bg-subtle: #CFD8D4;
  --bs-success-border-subtle: #9EB2A9;
  --bs-info: #b34b4b;
  --bs-info-rgb: 179,75,75;
  --bs-info-text-emphasis: #481E1E;
  --bs-info-bg-subtle: #F0DBDB;
  --bs-info-border-subtle: #E1B7B7;
  --bs-warning: #ebbd32;
  --bs-warning-rgb: 235,189,50;
  --bs-warning-text-emphasis: #5E4C14;
  --bs-warning-bg-subtle: #FBF2D6;
  --bs-warning-border-subtle: #F7E5AD;
  --bs-danger: #dc3545;
  --bs-danger-rgb: 220,53,69;
  --bs-danger-text-emphasis: #58151C;
  --bs-danger-bg-subtle: #F8D7DA;
  --bs-danger-border-subtle: #F1AEB5;
}

.btn-primary {
  --bs-btn-color: #000000;
  --bs-btn-bg: rgb(186,109,53);
  --bs-btn-border-color: rgb(186,109,53);
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #C48353;
  --bs-btn-hover-border-color: #C17C49;
  --bs-btn-focus-shadow-rgb: 28,16,8;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #C88A5D;
  --bs-btn-active-border-color: #C17C49;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: rgb(186,109,53);
  --bs-btn-disabled-border-color: rgb(186,109,53);
}

.btn-outline-primary {
  --bs-btn-color: rgb(186,109,53);
  --bs-btn-border-color: rgb(186,109,53);
  --bs-btn-focus-shadow-rgb: 186,109,53;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: rgb(186,109,53);
  --bs-btn-hover-border-color: rgb(186,109,53);
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: rgb(186,109,53);
  --bs-btn-active-border-color: rgb(186,109,53);
  --bs-btn-disabled-color: rgb(186,109,53);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: rgb(186,109,53);
}

.btn-success {
  --bs-btn-color: #fff;
  --bs-btn-bg: #0d3e28;
  --bs-btn-border-color: #0d3e28;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #0B3522;
  --bs-btn-hover-border-color: #0A3220;
  --bs-btn-focus-shadow-rgb: 219,226,223;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #0A3220;
  --bs-btn-active-border-color: #0A2F1E;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #0d3e28;
  --bs-btn-disabled-border-color: #0d3e28;
}

.btn-outline-success {
  --bs-btn-color: #0d3e28;
  --bs-btn-border-color: #0d3e28;
  --bs-btn-focus-shadow-rgb: 13,62,40;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #0d3e28;
  --bs-btn-hover-border-color: #0d3e28;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #0d3e28;
  --bs-btn-active-border-color: #0d3e28;
  --bs-btn-disabled-color: #0d3e28;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #0d3e28;
}

.btn-info {
  --bs-btn-color: #fff;
  --bs-btn-bg: #b34b4b;
  --bs-btn-border-color: #b34b4b;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #984040;
  --bs-btn-hover-border-color: #8F3C3C;
  --bs-btn-focus-shadow-rgb: 244,228,228;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #8F3C3C;
  --bs-btn-active-border-color: #863838;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #b34b4b;
  --bs-btn-disabled-border-color: #b34b4b;
}

.btn-outline-info {
  --bs-btn-color: #b34b4b;
  --bs-btn-border-color: #b34b4b;
  --bs-btn-focus-shadow-rgb: 179,75,75;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #b34b4b;
  --bs-btn-hover-border-color: #b34b4b;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #b34b4b;
  --bs-btn-active-border-color: #b34b4b;
  --bs-btn-disabled-color: #b34b4b;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #b34b4b;
}

.btn-warning {
  --bs-btn-color: #000000;
  --bs-btn-bg: #ebbd32;
  --bs-btn-border-color: #ebbd32;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #EEC751;
  --bs-btn-hover-border-color: #EDC447;
  --bs-btn-focus-shadow-rgb: 35,28,8;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #EFCA5B;
  --bs-btn-active-border-color: #EDC447;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #ebbd32;
  --bs-btn-disabled-border-color: #ebbd32;
}

.btn-outline-warning {
  --bs-btn-color: #ebbd32;
  --bs-btn-border-color: #ebbd32;
  --bs-btn-focus-shadow-rgb: 235,189,50;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #ebbd32;
  --bs-btn-hover-border-color: #ebbd32;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #ebbd32;
  --bs-btn-active-border-color: #ebbd32;
  --bs-btn-disabled-color: #ebbd32;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #ebbd32;
}

.btn-danger {
  --bs-btn-color: #fff;
  --bs-btn-bg: #dc3545;
  --bs-btn-border-color: #dc3545;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #BB2D3B;
  --bs-btn-hover-border-color: #B02A37;
  --bs-btn-focus-shadow-rgb: 250,225,227;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #B02A37;
  --bs-btn-active-border-color: #A52834;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #dc3545;
  --bs-btn-disabled-border-color: #dc3545;
}

.btn-outline-danger {
  --bs-btn-color: #dc3545;
  --bs-btn-border-color: #dc3545;
  --bs-btn-focus-shadow-rgb: 220,53,69;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #dc3545;
  --bs-btn-hover-border-color: #dc3545;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #dc3545;
  --bs-btn-active-border-color: #dc3545;
  --bs-btn-disabled-color: #dc3545;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #dc3545;
}

.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-3 {
  margin-bottom: 1rem !important;
}

.ms-auto {
  margin-left: auto !important;
}

@media (min-width: 768px) {
  .mb-md-10 {
    margin-bottom: 10.5rem !important;
  }
}

